.loader {
    width: 100%;
    height: 1rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.loader::after {
    content: '';
    width: 20rem;
    height: 1rem;
    background: rgb(var(--yellow-800));
    border-radius: var(--b-radius);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hitZak 2s ease-in-out infinite alternate;
}

@keyframes hitZak {
    0% {
        left: 0;
        transform: translateX(-1%);
    }

    100% {
        left: 100%;
        transform: translateX(-99%);
    }
}