.step-dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--gray-600);
    border-radius: var(--b-radius);
    transition: width 0.3s ease, background-color 0.3s ease;

    &.active {
        width: 64px;
        background-color: rgb(var(--yellow-800));
    }
}

.preview-profile p:last-child {
    margin-top: 2rem;
}