.dashboard-content {
    width: 100vw;
    min-height: calc(100vh - 32px - 100px);
}

.tasks-content {
    float: 1;
    width: 100%;
    min-height: 100%;
}

.date-nav {

    .title {
        text-transform: capitalize;
    }

    display: flex;
    justify-content: space-between;
}