.main-aside {
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    transition: width 1s ease;
    overflow: hidden;
    width: 26rem;
    background: var(--color-bg);



    .button {
        background: rgba(var(--yellow-800), .015);
        color: var(--color-text);
        font-weight: 400;
    }

    .button:hover {
        background: rgb(var(--yellow-800));
    }

    .badge {
        background-color: rgb(var(--yellow-800));
        border-radius: var(--b-radius);
        padding: .5rem;
    }

    &.hide {
        width: 10rem;

        span {
            display: none;
        }
    }
}

.sidebar-label {
    font-size: 1.6rem;
    color: var(--color-text-muted);
    margin-top: 2rem;
}

.sidebar-dot {
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;

    &.high {
        background: rgba(var(--red-1200));
    }

    &.medium {
        background: rgba(var(--yellow-1200));
    }

    &.low {
        background: rgba(var(--green-1200));
    }
}