.button {
    all: unset;
    padding: 1rem 1.6rem;
    background: rgba(var(--yellow-800));
    color: var(--gray-900);
    border-radius: var(--b-radius);
    font-size: 1.68rem;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    transition: all .2s;
    text-align: center;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        width: 1.6rem;
    }
}

.button.secondary {
    background: transparent;
    color: var(--gray-600);
    border: 1px solid var(--gray-600);
}

.button.hover-yellow:hover {
    border-color: rgba(var(--yellow-800));
    color: rgba(var(--yellow-800));
}

.button.hover-red:hover {
    border-color: rgba(var(--red-1000));
    color: rgba(var(--red-1000));
}

.button.bg-red {
    background: rgba(var(--red-1000));
}

.button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.button.success {
    background-color: rgba(var(--green-1200));
}