@import url('./vars.scss');
@import url('./input.scss');
@import url('./button.scss');
@import url('./elements.scss');
@import url('./modal.scss');
@import url('./form.scss');

@import url('./utils.scss');

@import url('./theme.scss');

@import url('./responsiveness.scss');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Display:ital@0;1&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
.page {

    max-width: 100vw;
    min-height: calc(100vh - 32px);
    font-family: "DM Mono", monospace;
    color: var(--white);
    background: var(--gray-900);
    position: relative;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    border-radius: var(--b-radius);
    background-color: var(--white);
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('../../public/noise.svg');
    opacity: .035;
    pointer-events: none;
    z-index: 0;
}