.input {
    width: 100%;
    background: var(--color-bg-sec);
    border-radius: var(--b-radius);
    padding: 1.6rem 1rem;
    color: var(--color-text);
    font-size: 1.6rem;
    outline: none;

    transition: all .3s;
    border: none;
}

.input:focus {
    outline: 1px solid var(--border-color);

}

.input.error {
    border: 2px solid rgba(var(--red-1000), .3);
}

.range {
    accent-color: rgb(var(--yellow-800));
}

.textarea {
    resize: none;
}