.input {
    width: 100%;
    background: var(--gray-700);
    border-radius: var(--b-radius);
    padding: 1.6rem 1rem;
    color: var(--white);
    font-size: 1.5rem;
    outline: none;

    transition: all .3s;
    border: none;
}

.input:focus {
    outline: 1px solid var(--gray-600);

}

.input.error {
    border: 2px solid rgba(var(--red-1000), .3);
}

.range {
    accent-color: rgba(var(--yellow-800));
}