.cal-day {
    border: 1px solid var(--gray-600);
    border-radius: var(--b-radius);
    padding: 1rem;
    min-height: 9.6rem;
    cursor: pointer;
    background-color: var(--gray-700);
    transition: all .15s;
}

.cal-day:hover {
    background-color: var(--gray-600);
}

.cal-dow {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .8px;
    color: var(--gray-300);
    padding: 1rem;
}

.cal-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
}

.cal-day-num {
    font-size: 1.4rem;
    font-family: 'DM Mono', monospace;
    color: var(--gray-300);
    margin-bottom: 6px;
    font-weight: 600;
}