.bg-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    inset: 0;
}

.modal-content {
    width: 50rem;
    max-width: 1000px;
    max-height: 90vh;
    border-radius: var(--b-radius);
    border: 1px solid var(--border-color);
    background-color: var(--gray-800);
}

.modal-header {
    border-bottom: 1px solid var(--border-color);

}