.user-photo-img {
    background-color: var(--gray-700);
    border: 2px solid var(--border-color);
    width: 14rem;
    min-width: 14rem;
    height: 14rem;
    border-radius: 50%;
    position: relative;
}

.user-photo-upload-btn {
    background-color: rgb(var(--yellow-800));
    color: var(--gray-900);
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    right: 0;

    width: 4rem;
    height: 4rem;

    svg {
        width: 2rem;
        height: 2rem;
    }
}

.stat-card {
    flex: 1;
    background: var(--color-bg-sec);
    border-radius: var(--b-radius);
    padding: 2rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    gap: 1rem;

    border: 2px solid var(--border-color);
}

.preference-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 2rem;
    border-radius: var(--b-radius);
    gap: 2rem;
    align-items: center;
}

.preference-label {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    letter-spacing: 1px;
}

.preference-title {
    font-size: 1.6rem;
    font-weight: 500;
}

.surface.danger {
    margin-bottom: 4rem;

    .preference-row {
        border-color: rgba(var(--red-1200));
    }

    &,
    .section-title {
        border-color: rgba(var(--red-1200));
    }

    .section-title {
        color: rgba(var(--red-1200));
    }
}

.container-return-page {
    width: var(--content-width);
    // position: absolute;
    // top: calc(90px + 4rem);

    .button {
        width: fit-content;
    }
}