.main-header {
    border-bottom: 1px solid var(--border-color);
    height: 90px;

    .user-photo {
        background-color: rgb(var(--yellow-800));
        border-radius: 50%;
        padding: 1rem;
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        text-decoration: none;
    }

    .button {
        all: unset;
        cursor: pointer;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.main-header-menu {
    width: 90vw;
}