.toggle {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
    cursor: pointer;

    input {
        display: none;

        &:checked+.toggle__track {
            background-color: rgb(var(--yellow-800));

            &::after {
                transform: translateX(24px);
            }
        }
    }
}

.toggle__track {
    position: absolute;
    inset: 0;
    background-color: var(--gray-600);
    border-radius: 999px;
    transition: background-color 0.2s;

    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 4px;
        top: 4px;
        background-color: var(--color-bg);
        border-radius: 50%;
        transition: transform 0.2s;
    }
}