.num-404 {
    font-size: 40rem;
    line-height: .9;
    color: transparent;
    user-select: none;
    position: relative;
    font-style: italic;
    z-index: 1;
}

.divider-line {
    width: 164px;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgba(var(--yellow-800)), transparent);

    animation: fadeUp .5s ease .2s both;
}


.num-404::before {
    content: '404';
    position: absolute;
    inset: 0;
    color: rgba(var(--yellow-800));
    -webkit-text-stroke: 0;
    clip-path: inset(0 100% 0 0);
    animation: reveal 1.2s cubic-bezier(.77, 0, .18, 1) .2s both;
}

@keyframes reveal {
    to {
        clip-path: inset(0 0% 0 0);
    }
}

.blur-404 {
    background-color: rgba(var(--yellow-800));
    width: 50rem;
    height: 40rem;
    filter: blur(10rem);
    border-radius: 50%;
    opacity: .22;

    position: absolute;
}

.blur-404:nth-child(2) {
    top: 1rem;
    right: -5rem;
}